*{
    margin: 0%;
    padding: 0%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Container for the calculator */
.calculator {
    display: grid;
    gap: 10px;
    max-width: 250px;
    margin: 0 auto;
    background-color: #fff;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style for the input box */
#inputBox {
    /* width: 218px; */
    grid-column: span 4;
    padding: 20px;
    font-size: 1.5em;
    text-align: right;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #dcffb4;
    margin-bottom: 15px;
    border: solid 1px black;
}

/* Style for the button container */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

/* General button styles */
button {
    padding: 20px;
    font-size: 1.2em;
    border: 1px solid;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
    width: 82px;
    
}

/* Button hover effects */
button:hover {
    background-color: #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Special styles for operator buttons */
.operator {
    background-color: #f8f8f8;
    color: #ff9500;
}

/* Special styles for the equal button */
.equal {
    background-color: #f3aa44;
    color: white;
}

/* Special styles for the equal button on hover */
.equal:hover {
    background-color: #e68900;
}